<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
    
                <li>
                    <a href="/admin">
                        <i class="fas fa-building"></i>
                        <span> Companies </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/mechanics">
                        <i class="fas fa-tools"></i>
                        <span> Mechanics </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/profile">
                        <i class="fas fa-user-alt"></i>
                        <span> My Profile </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->