<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                {{!-- <li class="menu-title">Navigation</li> --}}
    
                <li>
                    <a href="/">
                        <i class="fas fa-car"></i>
                        <span> Services </span>
                    </a>
                </li>

                <li>
                    <a href="/mechanics">
                        <i class="fas fa-tools"></i>
                        <span> Mechanics </span>
                    </a>
                </li>

                <li>
                    <a href="/profile">
                        <i class="fas fa-user-alt"></i>
                        <span> User Profile </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->