<body class="loading">

    <!-- Vue component -->
    <div id="app">
        <!-- Begin page -->
        <div id="wrapper">

            {{> topbar }}

            {{> left-sidebar }}
            <div class="content-page">
                <div class="content">                    
                    <router-view></router-view>
                    {{> template/ranking-result}}
                </div> <!-- content -->

                {{> footer }}
            </div>
        </div>
        <!-- END wrapper -->

        {{> right-setting-bar }}

    </div>

    <!-- Axios js-->
    <script src="/app/lib/axios.js"></script>
    <!-- vue js -->
    <script src="/app/lib/vue.js"></script>
    <script src="/app/vue/ranking-checker.js"></script>

    {{> theme-script }}
    
</body>