<body class="loading">

    <div id="app">
        <!-- Begin page -->
        <div id="wrapper">

            {{> topbar }}

            {{> left-sidebar }}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                    
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Automobile Assistance</a></li>
                                            <li class="breadcrumb-item active">{{ title }}</li>
                                        </ol>
                                    </div>
                                    <div class="mt-3">
                                        <h4 class="page-title text-uppercase">{{ title }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                        
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                    
                                        <!-- <h4 class="header-title mb-0">Result</h4> -->
                                        <button type="button" class="tabledit-edit-button btn btn-success" style="float: none;" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#add-mechanic">
                                            <i class="fas fa-plus"></i> Add
                                        </button>

                                         <!-- <h4 class="header-title mb-0">Result</h4> -->

                                         <div id="cardCollpase5" class="collapse pt-3 show">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-centered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Services Name</th>
                                                            <th>Description</th>
                                                            <th>Address</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr v-for="service in services">
                                                            <td>{% service.name %}</td>
                                                            <td>{% service.description %}</td>
                                                            <td>{% service.address %}</td>
                                                            <td style="width: 200px;">
                                                                <span  v-if="service.activated" class="badge bg-soft-success text-success">
                                                                    Active
                                                                </span>
                                                                <span v-if="!service.activated" class="badge bg-soft-danger text-danger">
                                                                    Deactivated
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                                                    <div class="btn-group btn-group-sm" style="float: none;">
                                                                        <button style="width: 90px;" @click="activateService(service, false)" v-if="service.activated && !service.isUpdating" type="button" class="tabledit-edit-button btn btn-danger" style="float: none;">
                                                                            Deactivate
                                                                        </button>
                                                                        <button style="width: 90px;" @click="activateService(service, true)" v-if="!service.activated && !service.isUpdating" type="button" class="tabledit-edit-button btn btn-success" style="float: none;">
                                                                            Activate
                                                                        </button>

                                                                        <button style="width: 90px;" v-if="service.isUpdating" type="button" class="tabledit-edit-button btn btn-secondary" style="float: none;">
                                                                            <i class="fas fa-circle-o-notch fa-spin"></i>
                                                                        </button>

                                                                        <button @click="onHistoryClick(service)" type="button" class="tabledit-edit-button btn btn-info" style="float: none;">
                                                                            History
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div> <!-- end table responsive-->
                                        </div> <!-- collapsed end -->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                        {{> processing }}

                        <!-- Services data -->
                        <textarea hidden id="servicesData">
                            {{ services }}
                        </textarea>

                        <!-- Services data -->
                        <textarea hidden id="serviceTypes">
                            {{ serviceTypes }}
                        </textarea>
            
                    </div> <!-- container -->

                </div> <!-- content -->

                {{> footer }}

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

            <!-- Add services modal -->
            <div class="modal fade" id="add-mechanic" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Service Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <label for="project-priority">Select Service</label> <br>
                            <input type="radio" id="service_1" name="age" value="1" style="cursor: pointer;" checked>
                            <label for="age1">Tow Service</label><br>
                            <input type="radio" id="service_2" name="age" value="2" style="cursor: pointer;">
                            <label for="age2">Fuel Service</label><br>
                            <input type="radio" id="service_3" name="age" value="3" style="cursor: pointer;">
                            <label for="age3">Battery Service</label><br>
                            <input type="radio" id="service_4" name="age" value="4" style="cursor: pointer;">
                            <label for="age3">Lockout Service</label><br>
                            <input type="radio" id="service_5" name="age" value="5" style="cursor: pointer;">
                            <label for="age3">Tire Service</label><br><br>

                            <div class="row">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="example-email">Description</label>
                                    <input v-model="service.description" @change="textChanged" name="description" class="form-control" type="text" id="description" placeholder="Enter Description" required>
                                    <ul v-if="descriptionError" class="parsley-errors-list filled">
                                        <li class="parsley-required"><small>Description is required</small></li>
                                    </ul>
                                </div>

                                <div class="col-md-12 form-group mb-3">
                                    <label for="example-email">Mobile Number</label>
                                    <input v-model="service.mobile" @change="textChanged" name="mobile" class="form-control" type="text" id="description" placeholder="Enter Mobile Number" required>
                                    <ul v-if="mobileError" class="parsley-errors-list filled">
                                        <li class="parsley-required"><small>Mobile number is required</small></li>
                                    </ul>
                                </div>
                            
                                <div class="col-md-12 form-group mb-3">
                                    <label for="example-email">Map Location</label>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input disabled v-model="latLngStr" @change="textChanged" name="location" class="form-control" type="text" id="location" placeholder="Select location" required>
                                        </div>
                                        <div class="col-sm-3">
                                            <button data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#map-modal" style="height: 100%;" class="btn btn-sm btn-secondary">...</button>
                                        </div>
                                    </div>
                                    <ul v-if="locationError" class="parsley-errors-list filled">
                                        <li class="parsley-required"><small>Location is required</small></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="example-email">Location Address</label>
                                <textarea v-model="service.address" @change="textChanged" name="address" class="form-control" type="text" id="address" placeholder="Enter Address" required></textarea>
                                <ul v-if="addressError" class="parsley-errors-list filled">
                                    <li class="parsley-required"><small>Location address is required</small></li>
                                </ul>
                            </div>

                            <div class="mt-3">
                                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button @click="saveService" class="btn btn-success" style="width: 70px;">
                                    <span v-if="!isSavingService">Add</span>
                                    <span v-if="isSavingService"><i class="fas fa-circle-o-notch fa-spin"></i></span>
                                </button>
                            </div>
                            
                        </div>
                    </div><!-- /.modal-content -->
                </div>
            </div>

            <!-- Map Modal -->
            <!-- Add services modal -->
            <div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Service Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                           
                            <div id='map' style='height: 400px;'></div>

                            <div class="mt-3">
                                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button @click="saveLocationLatLng" data-dismiss="modal" class="btn btn-success" style="width: 70px;">
                                    Set
                                </button>
                            </div>
                            
                        </div>
                    </div><!-- /.modal-content -->
                </div>
            </div>
            <!-- End Map Modal -->


            <!-- Alert Modal -->
            <!-- Add services modal -->
            <div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">                            
                        </div>
                        <div class="modal-body">
                           
                            <center>
                                <h1>David need an automobile assistance!</h1>
                            </center>

                            <div class="mt-3">
                               <center>
                                    <button class="btn btn-danger" data-dismiss="modal" style="width: 120px;">Reject</button>
                                    <button data-dismiss="modal" class="btn btn-success" style="width: 120px;">
                                        Accept
                                    </button>
                               </center>
                            </div>
                            
                        </div>
                    </div><!-- /.modal-content -->
                </div>
            </div>
            <!-- End Map Modal -->

        </div>
        <!-- END wrapper -->
    </div>

    {{> right-setting-bar }}

    <!-- Axios js-->
    <script src="/app/lib/axios.js"></script>
    <!-- vue js -->
    <script src="/app/lib/vue.js"></script>
    <!-- XLXS -->
    <script src="/app/lib/xlxs.js"></script>
    <script src="/app/lib/file-saver.js"></script>
    <script src="/app/lib/xlxs-full.js"></script>

    <script>
        var services = JSON.parse(document.querySelector('#servicesData').innerHTML)
        services.forEach(service => {
            service.isUpdating = false
        });


        var app = new Vue({
            el: "#app",
            delimiters: ["{%", "%}"],

            data: {
                processing: false,
                services: services,

                service: {
                    service_id: '',
                    description: '',
                    location: {lat: 2.333, lng: 43.454},
                    address: '',
                    mobile: ''
                },

                isSavingService: false,
                descriptionError: false,
                locationError: false,
                addressError: false,
                serviceIdError: false,
                mobileError: false,

                selectedLocationLatLng: null,
                latLngStr: ''
            },

            mounted() {
                console.log('services', this.serviceTypes);
                this.renderMap()
                this.observeAlert()
            },
            
            // 
            methods: {

                receiveAlert(id) {
                    axios.post('/service/alert/receive', {
                        alert_id: id
                        })
                        .then(result => {
                            console.log('ALERT RECEIVE SUCCESS ========================= ');
                            // setTimeout(app.observeAlert, 1000)
                        }).catch(err => {
                            console.log('Error', err);                       
                        });
                },

                observeAlert() {
                    console.log('CALLING ALERTS ========================= ');
                    axios.get('/service/alert')
                        .then(result => {
                            if (result.data.status) {
                                console.log('ALERTS', result.data.alerts);

                                for (let alert of result.data.alerts) {
                                    console.log('alert', alert);

                                    if (!alert.is_received) {
                                        $("#alert-modal").modal('show');
                                        app.receiveAlert(alert.id)
                                    }
                                }
                            }

                            setTimeout(app.observeAlert, 2000)
                        }).catch(err => {
                            console.log('Error', err);                            
                        });
                },

                renderMap() {
                    mapboxgl.accessToken = 'pk.eyJ1IjoianVuZnJlZWNzcyIsImEiOiJja3B0bzhla3kwNHl0MnhwOTN6ZGpxZHZ5In0.bk2iOlhxIwYNEKhcS6IasA';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        zoom: 16
                    });

                    map.on('style.load', function() {
                        map.on('click', function(e) {
                            app.selectedLocationLatLng = e.lngLat
                            console.log('e.lngLat', e.lngLat);
                            new mapboxgl.Popup()
                                .setLngLat(app.selectedLocationLatLng)
                                .setHTML('Selected Location')
                                .addTo(map);
                        });

                        // map.flyTo({
                        //     center: [11.209116502224049, 124.99030834765392]
                        // });
                    });
                },

                saveLocationLatLng() {
                    this.latLngStr = `[${this.selectedLocationLatLng.lat}, ${this.selectedLocationLatLng.lng}]`;
                    this.service.location = {
                        lat: this.selectedLocationLatLng.lat,
                        lng: this.selectedLocationLatLng.lng
                    }
                },

                saveService() {
                    var tow = document.querySelector('#service_1')
                    var fuel = document.querySelector('#service_2')
                    var batt = document.querySelector('#service_3')
                    var lock = document.querySelector('#service_4')
                    var tire = document.querySelector('#service_5')

                    this.service.service_id = tow.checked ? tow.value 
                                                : fuel.checked ? fuel.value 
                                                    : batt.checked ? batt.value 
                                                        : lock.checked ? lock.value : tire.value;

                    if (this.validateForm() && !this.isSavingService) {

                        console.log('this.service', this.service);
                        this.isSavingService = true
                        axios.post('/api/service/save', app.service)
                        .then(result => {

                            console.log('result', result.data);

                            if (result.data.status === true) {
                                var service = result.data.service
                                service.isUpdating = false
                                app.services.push(service)
                                app.clearForm()
                                bootbox.alert({
                                    message: `New service successfully added.`,
                                    centerVertical: true
                                });
                            } else {
                                bootbox.alert({
                                message: `Failed to add service. Something went wrong there.`,
                                    centerVertical: true,
                                });
                            }

                            this.isSavingService = false
                        }).catch(err => {
                            console.log('Error', err);
                            bootbox.alert({
                                message: `Failed to add service. Something went wrong there.`,
                                centerVertical: true,
                            });

                            this.isSavingService = false
                        });
                    }
                },

                activateService(service, activate) {
                    service.isUpdating = true;

                    axios.post('/service/update', {
                            id: service.company_service_id,
                            activate: activate
                        })
                        .then(result => {
                            if (result.data.status) {
                                service.activated = activate
                                toastr.success(service.name + ' successfully updated!')
                            } else {
                                toastr.error('Failed to update '+service.name+'!')
                            }

                            service.isUpdating = false;
                        }).catch(err => {
                            console.log('Error', err);
                            bootbox.alert({
                                title: "Error 500",
                                message: 'Internal server error, Please contact your admin or technical support for further assistance.',
                                centerVertical: true,
                                centerHorizontal: true
                            });

                            service.isUpdating = false;
                        });
                },

                validateForm() {
                    var passed = true;

                    if (this.service.description.trim() === '') {
                        this.descriptionError = true
                        passed = false;
                    }

                    if (this.service.location == null) {
                        this.locationError = true
                        passed = false;

                        console.log('locationError');
                    }

                    if (this.service.address.trim() === '') {
                        this.addressError = true
                        passed = false;
                    }

                    if (this.service.mobile.trim() === '') {
                        this.mobileError = true
                        passed = false;
                    }

                    if (this.service.service_id.trim() === '') {
                        this.serviceIdError = true
                        passed = false;

                        console.log('serviceIdError', this.service.service_id);
                    }

                    return passed;
                },

                clearForm() {
                    this.service.description = ''
                    this.service.location = ''
                    this.service.address = ''
                    this.service.service_id = ''
                    this.selectedLocationLatLng = null
                    this.latLngStr = ''
                    this.mobile = ''
                },

                textChanged(e) {
                    this.serviceIdError = false
                    switch (e.target.name) {
                        case 'description':
                            this.descriptionError = false;
                            break;

                        case 'location':
                            this.locationError = false;
                            break;

                        case 'address':
                            this.addressError = false;
                            break;
                        case 'mobile':
                            this.mobileError = false;
                            break;
                        default:
                            break;
                    }
                },


                logout() {
                    axios.post('/api/auth/logout')
                        .then(result => {
                            window.location.href = '/login';
                        }).catch(err => {
                            console.log('Error', err);
                        });
                }
                
            }
        })


    </script>

    {{> theme-script }}

    <script>
        // Ui js
        $('[data-toggle="select2"]').select2();
    </script>
    
</body>