<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">

        {{> topbar }}

        {{> left-sidebar }}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">
                    
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="">
    
                                <div class="card-body p-4">
                                    <div class="text-center mt-4">
                                        <h1 class="text-error">500</h1>
                                        <h3 class="mt-3 mb-2">Internal Server Error</h3>
                                        <p class="text-muted mb-3">Why not try refreshing your page? or you can contact</p>
    
                                        <a href="/" class="btn btn-success waves-effect waves-light">Back to Home</a>
                                    </div>
    
                                </div> <!-- end card-body -->
                            </div>
                            <!-- end card -->
    
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->
                    
                </div> <!-- container -->

            </div> <!-- content -->

            {{> footer }}

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    {{> right-setting-bar }}

    {{> theme-script }}
    
</body>